* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.cover .img {
  margin: 0 auto;
  text-align: center;
  width: 100vw;
  height: 95vh;
  opacity: 0.9;
}
.cover .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: center;
     object-fit: center;
}
.cover .text {
  margin-left: 7rem;
  margin-right: 7rem;
}
.cover .text h4 {
  color: green;
  padding-top: 3rem;
  font-size: 30px;
  font-weight: 700;
}
.cover .text p {
  padding: 1.5rem 0rem;
  font-size: 22px;
}
.cover .text p span {
  font-size: 23px;
  font-weight: 600;
  color: green;
}

.paypal {
  border-top: 1px solid black;
  margin: 5rem 1rem;
  text-align: center;
}
.paypal h4 {
  font-size: 40px;
  margin: 5rem 1rem;
  opacity: 0.7;
  color: green;
  letter-spacing: 2px;
}
.paypal a {
  letter-spacing: 2px;
  border-radius: 12px;
  padding: 1rem 3rem;
  font-size: 22px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s linear;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.paypal a:hover {
  color: rgba(6, 6, 231, 0.83);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.youtube {
  margin-top: 10rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3rem;
}
.youtube .img {
  width: 560px;
  height: 315px;
}
.youtube .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.guest {
  margin: 0rem 1rem;
  text-align: center;
}
.guest h2 {
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
}
.guest h2 span {
  color: green;
}
.guest p {
  margin-top: 1rem;
  font-size: 22px;
  letter-spacing: 2px;
}
.guest p span {
  color: green;
  font-weight: 600;
}

.clock {
  margin: 10rem 1rem;
  padding: 4rem 1rem;
  background-color: rgba(128, 128, 128, 0.412);
  color: white;
  border-radius: 12px;
  transition: all 0.3s linear;
}
.clock:hover {
  border: 1px solid rgba(0, 0, 0, 0.289);
}

.netflix {
  margin: 5rem 1rem;
  text-align: center;
}
.netflix h4 {
  font-size: 40px;
  margin: 5rem 1rem;
  opacity: 0.7;
  color: green;
  letter-spacing: 2px;
}
.netflix a {
  letter-spacing: 2px;
  border-radius: 12px;
  padding: 1rem 3rem;
  font-size: 22px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s linear;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.netflix a:hover {
  color: rgba(6, 6, 231, 0.83);
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.grid h1 {
  font-size: 40px;
  margin: 5rem 1rem;
  opacity: 0.7;
  color: green;
  letter-spacing: 2px;
  margin: 0 auto;
  text-align: center;
}
.grid .items {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 100vh;
}
.grid .items .image {
  width: 400px;
  height: 400px;
  margin: 1.5rem;
  transition: all 0.3s linear;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
.grid .items .image:hover {
  transform: scale(1.111);
}

@media (min-width: 575px) and (max-width: 768px) {
  .youtube {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .youtube .img {
    width: 560px;
    height: 315px;
    margin: 1rem;
  }
  .youtube .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .grid .items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .grid .items .image {
    width: 330px;
    height: 330px;
    margin: 1.5rem;
  }
}
@media (min-width: 451px) and (max-width: 576px) {
  .cover .img {
    width: 100vw;
    height: 50vh;
    opacity: 0.9;
  }
  .cover .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: center;
       object-fit: center;
  }
  .cover .text {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .cover .text h4 {
    color: green;
    padding-top: 3rem;
    font-size: 30px;
    font-weight: 700;
  }
  .cover .text p {
    padding: 1.5rem 0rem;
    font-size: 22px;
  }
  .cover .text p span {
    font-size: 23px;
    font-weight: 600;
    color: green;
  }
  .paypal h4 {
    font-size: 30px;
  }
  .netflix h4 {
    font-size: 30px;
  }
  .grid .items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .grid .items .image {
    width: 400px;
    height: 400px;
    margin-left: 3rem;
  }
  .youtube {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .youtube .img {
    width: 560px;
    height: 315px;
    margin: 1rem;
  }
  .youtube .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 450px) {
  .cover .img {
    width: 100vw;
    height: 50vh;
    opacity: 0.9;
  }
  .cover .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: center;
       object-fit: center;
  }
  .cover .text {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .cover .text h4 {
    color: green;
    padding-top: 3rem;
    font-size: 30px;
    font-weight: 700;
  }
  .cover .text p {
    padding: 1.5rem 0rem;
    font-size: 22px;
  }
  .cover .text p span {
    font-size: 23px;
    font-weight: 600;
    color: green;
  }
  .grid .items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .grid .items .image {
    width: 350px;
    height: 350px;
    margin-left: 3rem;
  }
  .youtube {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .youtube .img {
    width: 560px;
    height: 315px;
    margin: 1rem;
  }
  .youtube .img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}/*# sourceMappingURL=style.css.map */